@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.show-mobile {
display: none !important
}

.multiselect-search.dark {
background: red !important
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#your-class{
  height: 23px;
  width: 36px;
	background-image: url("data:image/svg+xml,%3Csvg width='36' height='23' viewBox='0 0 36 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.2618 11.1994C35.2618 10.1078 34.9657 9.35463 34.3734 8.93986L24.6238 0.622217C24.1378 0.207453 23.743 5.53131e-05 23.4393 5.53131e-05C23.2115 5.53131e-05 22.9913 0.131027 22.7787 0.392998C22.5661 0.65497 22.3307 1.09159 22.0725 1.70286C21.7991 2.33598 21.6625 2.87082 21.6625 3.30744C21.6625 3.76589 21.8295 4.19161 22.1636 4.58455C22.2851 4.73738 22.4901 4.93385 22.7787 5.174L29.8403 11.1994C29.6581 11.374 27.3042 13.3825 22.7787 17.2247C22.2927 17.6832 21.9814 18.0871 21.8447 18.4364C21.7384 18.6765 21.6853 18.9603 21.6853 19.2877C21.6853 19.637 21.8295 20.1501 22.1181 20.8268C22.5585 21.8966 22.9837 22.4314 23.3937 22.4314C23.6215 22.4314 23.8189 22.3768 23.986 22.2677C24.1378 22.2022 24.601 21.8311 25.3755 21.1543C26.15 20.4776 29.1417 17.9233 34.3506 13.4916C34.9581 13.055 35.2618 12.2909 35.2618 11.1994Z' fill='url(%23paint0_linear_203_44)'/%3E%3Cpath d='M34.3621 8.93984C34.9544 9.35461 35.2505 10.1078 35.2505 11.1993C35.2505 12.2909 34.9468 13.055 34.3394 13.4916C29.1305 17.9233 26.1388 20.4775 25.3643 21.1543C24.5898 21.8311 24.1266 22.2022 23.9747 22.2677C23.8077 22.3768 23.6102 22.4314 23.3824 22.4314C22.9724 22.4314 22.5472 21.8966 22.1068 20.8268C21.8183 20.1501 21.674 19.637 21.674 19.2877C21.674 18.9603 21.7271 18.6765 21.8334 18.4363C21.9701 18.087 22.2814 17.6831 22.7674 17.2247C27.2929 13.3824 29.6468 11.374 29.829 11.1993C32.5911 8.8341 32.8021 7.71544 32.5187 7.37092L32.4299 7.2953C32.4626 7.31424 32.4927 7.33932 32.5187 7.37092L34.3621 8.93984Z' fill='%2300FFB8'/%3E%3Cpath d='M34.3621 8.93984C34.9544 9.35461 35.2505 10.1078 35.2505 11.1993C35.2505 12.2909 34.9468 13.055 34.3394 13.4916C29.1305 17.9233 26.1388 20.4775 25.3643 21.1543C24.5898 21.8311 24.1266 22.2022 23.9747 22.2677C23.8077 22.3768 23.6102 22.4314 23.3824 22.4314C22.9724 22.4314 22.5472 21.8966 22.1068 20.8268C21.8183 20.1501 21.674 19.637 21.674 19.2877C21.674 18.9603 21.7271 18.6765 21.8334 18.4363C21.9701 18.087 22.2814 17.6831 22.7674 17.2247C27.2929 13.3824 29.6468 11.374 29.829 11.1993C32.5911 8.8341 32.8021 7.71544 32.5187 7.37092L32.4299 7.2953C32.4626 7.31424 32.4927 7.33932 32.5187 7.37092L34.3621 8.93984Z' fill='url(%23paint1_linear_203_44)'/%3E%3Cpath d='M4.95911e-05 11.1993C4.95911e-05 10.1078 0.296182 9.3546 0.888448 8.93983L10.638 0.622187C11.124 0.207422 11.5188 2.47955e-05 11.8226 2.47955e-05C12.0504 2.47955e-05 12.2706 0.130997 12.4832 0.392967C12.6958 0.65494 12.9312 1.09156 13.1893 1.70283C13.4627 2.33595 13.5994 2.87079 13.5994 3.30741C13.5994 3.76586 13.4323 4.19158 13.0982 4.58452C12.9767 4.73735 12.7717 4.93382 12.4832 5.17397L5.42154 11.1993C5.60378 11.374 7.95766 13.3824 12.4832 17.2247C12.9691 17.6831 13.2804 18.087 13.4171 18.4363C13.5234 18.6764 13.5766 18.9603 13.5766 19.2877C13.5766 19.637 13.4323 20.1501 13.1438 20.8268C12.7034 21.8965 12.2782 22.4314 11.8681 22.4314C11.6403 22.4314 11.4429 22.3768 11.2759 22.2677C11.124 22.2022 10.6608 21.831 9.88632 21.1543C9.11182 20.4775 6.12012 17.9233 0.911226 13.4916C0.303775 13.055 4.95911e-05 12.2909 4.95911e-05 11.1993Z' fill='url(%23paint2_linear_203_44)'/%3E%3Cpath d='M4.95911e-05 11.1993C4.95911e-05 10.1078 0.296182 9.3546 0.888448 8.93983L10.638 0.622187C11.124 0.207422 11.5188 2.47955e-05 11.8226 2.47955e-05C12.0504 2.47955e-05 12.2706 0.130997 12.4832 0.392967C12.6958 0.65494 12.9312 1.09156 13.1893 1.70283C13.4627 2.33595 13.5994 2.87079 13.5994 3.30741C13.5994 3.76586 13.4323 4.19158 13.0982 4.58452C12.9767 4.73735 12.7717 4.93382 12.4832 5.17397L5.42154 11.1993C5.60378 11.374 7.95766 13.3824 12.4832 17.2247C12.9691 17.6831 13.2804 18.087 13.4171 18.4363C13.5234 18.6764 13.5766 18.9603 13.5766 19.2877C13.5766 19.637 13.4323 20.1501 13.1438 20.8268C12.7034 21.8965 12.2782 22.4314 11.8681 22.4314C11.6403 22.4314 11.4429 22.3768 11.2759 22.2677C11.124 22.2022 10.6608 21.831 9.88632 21.1543C9.11182 20.4775 6.12012 17.9233 0.911226 13.4916C0.303775 13.055 4.95911e-05 12.2909 4.95911e-05 11.1993Z' fill='url(%23paint3_linear_203_44)'/%3E%3Cpath d='M0.899902 8.93981C0.307636 9.35458 0.0115032 10.1078 0.0115032 11.1993C0.0115032 12.2909 0.315228 13.0549 0.92268 13.4916C6.13158 17.9233 9.12327 20.4775 9.89778 21.1543C10.6723 21.831 11.1355 22.2021 11.2873 22.2676C11.4544 22.3768 11.6518 22.4314 11.8796 22.4314C12.2896 22.4314 12.7148 21.8965 13.1552 20.8268C13.4438 20.15 13.588 19.637 13.588 19.2877C13.588 18.9603 13.5349 18.6764 13.4286 18.4363C13.2919 18.087 12.9806 17.6831 12.4946 17.2247C7.96911 13.3824 5.61523 11.374 5.433 11.1993C2.67092 8.83407 2.45994 7.71541 2.74332 7.37089L2.83216 7.29527C2.79945 7.31421 2.7693 7.33929 2.74332 7.37089L0.899902 8.93981Z' fill='%2300FFB8'/%3E%3Cpath d='M0.899902 8.93981C0.307636 9.35458 0.0115032 10.1078 0.0115032 11.1993C0.0115032 12.2909 0.315228 13.0549 0.92268 13.4916C6.13158 17.9233 9.12327 20.4775 9.89778 21.1543C10.6723 21.831 11.1355 22.2021 11.2873 22.2676C11.4544 22.3768 11.6518 22.4314 11.8796 22.4314C12.2896 22.4314 12.7148 21.8965 13.1552 20.8268C13.4438 20.15 13.588 19.637 13.588 19.2877C13.588 18.9603 13.5349 18.6764 13.4286 18.4363C13.2919 18.087 12.9806 17.6831 12.4946 17.2247C7.96911 13.3824 5.61523 11.374 5.433 11.1993C2.67092 8.83407 2.45994 7.71541 2.74332 7.37089L2.83216 7.29527C2.79945 7.31421 2.7693 7.33929 2.74332 7.37089L0.899902 8.93981Z' fill='%2300FFB8'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_203_44' x1='21.6625' y1='0.828828' x2='37.8699' y2='15.0354' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300FFB8'/%3E%3Cstop offset='1' stop-color='%2309BC8A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_203_44' x1='28.4622' y1='22.4314' x2='35.2505' y2='8.75628' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300FFB8'/%3E%3Cstop offset='1' stop-color='%2300FFB8' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_203_44' x1='13.5994' y1='0.828797' x2='-2.60802' y2='15.0354' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300FFB8'/%3E%3Cstop offset='1' stop-color='%2309BC8A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_203_44' x1='13.5994' y1='0.828797' x2='-2.60802' y2='15.0354' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300FFB8'/%3E%3Cstop offset='1' stop-color='%2309BC8A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.box {
  color: #fff;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  padding: 15px;
  transition: all 0.2s;
  position: relative;
  min-height: 200px;
  padding-bottom: 40px;
}

.box:hover {
  transform: scale(1.02);
}

h6 {
  padding: 20px 0 !important;
  margin: 0;
  font-size: 1rem;
}

.badge {
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 0.77rem;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box small {
  padding-top: 15px;
  color: #E5E5E5;
  font-size: 12px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 5px;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .container-grid {
    width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 40px;
  }


}

.multiselect {
  width: 300px !important;
}

.vacancy-data {
  scrollbar-color: auto;
  height: calc(100vh - 8rem)
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
display: none !important;
}

#teste {
  display: block;
  margin-top: 40px;
}

.information {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.information-menu {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vacancy-data {
  scrollbar-color: auto;
  height: 100vh;
  padding-right: 0px !important;
}
.markdown-body {
  margin-left: 0px !important;
}

.show-mobile {
display: flex !important;
}

.select-area {
width: 100% !important;
flex-direction: column;
}
.multiselect {
  width: 100% !important;
}

.menu { 
display: flex;
flex-direction: column-reverse;
}

.menu-mobile {
  display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;}
}

.line {
  background: #333;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #E5E7EB;
  transition: all 0.2s;
  font-size: 1rem;
}

.line:hover {
  transform: scale(1.02);
}

.hover_scale:hover {
  transform: scale(1.02);
}

h6 {
  padding: 20px 0 !important;
  margin: 0;
  font-size: 1rem;
}

.badge {
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 0.77rem;
  padding: 3px 10px;
}

.box small {
  padding-top: 15px;
  color: #E5E5E5;
  font-size: 12px;
  float: right;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 5px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8f8f8f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}

html.dark *::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
  /* border: 3px solid #ffffff30; */
}

*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9 ;
  border-radius: 10px;
  /* border: 3px solid #ffffff30; */
}

.markdown-body {
  text-align: left;
    padding: 30px;
    }

    .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
	 margin-top: 24px;
	 margin-bottom: 16px;
	 font-weight: 600;
	 line-height: 1.25;
}
 .markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
	 color: #333;
	 vertical-align: middle;
	 visibility: hidden;
}
 .markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor {
	 text-decoration: none;
}
 .markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link {
	 visibility: visible;
}
 .markdown-body h1 tt, .markdown-body h2 tt, .markdown-body h3 tt, .markdown-body h4 tt, .markdown-body h5 tt, .markdown-body h6 tt, .markdown-body h1 code, .markdown-body h2 code, .markdown-body h3 code, .markdown-body h4 code, .markdown-body h5 code, .markdown-body h6 code {
	 padding: 0 0.2em;
	 font-size: inherit;
}
 .markdown-body h1 {
	 padding-bottom: 0.3em;
	 font-size: 2em;
	 border-bottom: 1px solid #eeeeee;
}
 .markdown-body h2 {
	 padding-bottom: 0.3em;
	 font-size: 1.5em;
	 border-bottom: 1px solid #eeeeee;
}
 .markdown-body h3 {
	 font-size: 1.25em;
}
 .markdown-body h4 {
	 font-size: 1em;
}
 .markdown-body h5 {
	 font-size: 0.875em;
}
 .markdown-body h6 {
	 font-size: 0.85em;
	 color: #333;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details {
    margin-top: 0;
    margin-bottom: 16px;
}

 .markdown-body summary h1, .markdown-body summary h2, .markdown-body summary h3, .markdown-body summary h4, .markdown-body summary h5, .markdown-body summary h6 {
	 display: inline-block;
}
 .markdown-body summary h1 .anchor, .markdown-body summary h2 .anchor, .markdown-body summary h3 .anchor, .markdown-body summary h4 .anchor, .markdown-body summary h5 .anchor, .markdown-body summary h6 .anchor {
	 margin-left: -40px;
}
 .markdown-body summary h1, .markdown-body summary h2 {
	 padding-bottom: 0;
	 border-bottom: 0;
}
.markdown-body ul, .markdown-body ol {
  list-style: unset;
	 padding-left: 2em;
}
 .markdown-body ul.no-list, .markdown-body ol.no-list {
	 padding: 0;
	 list-style-type: unset;
}
 .markdown-body ol[type='1'] {
	 list-style-type: decimal;
}
 .markdown-body ol[type='a'] {
	 list-style-type: lower-alpha;
}
 .markdown-body ol[type='i'] {
	 list-style-type: lower-roman;
}
 .markdown-body div > ol:not([type]) {
	 list-style-type: decimal;
}
 .markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
	 margin-top: 0;
	 margin-bottom: 0;
}
 .markdown-body li > p {
	 margin-top: 16px;
}
 .markdown-body li + li {
	 margin-top: 1em;
}
 .markdown-body dl {
	 padding: 0;
}
 .markdown-body dl dt {
	 padding: 0;
	 margin-top: 16px;
	 font-size: 1em;
	 font-style: italic;
	 font-weight: 600;
}
 .markdown-body dl dd {
	 padding: 0 16px;
	 margin-bottom: 16px;
}
 
.btn {
  font-size: 15px
}